<!--Made by Augustinas Cerniauskas -->
<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | One Pound Coffee</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
     About World Coffee
    </p>
  </body>
</html>