<!--Made by Augustinas Cerniauskas -->
<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | One Pound Coffee</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Contact details
    </p>
  </body>
</html>