<!--Made by Augustinas Cerniauskas -->
<% provide(:title, "Home") %>
<div class="center jumbotron">
  <head>
    <title><%= yield(:title) %> | One Pound Coffee</title>
  </head>
  <h1>Welcome to the World Coffee page!</h1>



</div>

    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Join us!</h4>
                    </div>
                    <div class="panel-body">
                        <p>Easy and fast sign up application!</p>
                        <a  <%= link_to "Sign up now!", signup_path, class: "btn btn-default" %></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Learn More About Coffee </h4>
                    </div>
                    <div class="panel-body">
                        <p>DIfferent types of coffee and raosting techniques</p>
                        <a  <%= link_to "Learn more!", types_path, class: "btn btn-default" %></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Find the largest coffee producing coutries!</h4>
                    </div>
                    <div class="panel-body">
                        <p>Top exporting coutries in the world!</p>
                        <a  <%= link_to "Search now!", regions_path, class: "btn btn-default" %></a>
                    </div>
                </div>
            </div>
        </div>

