<!--Made by Tautvydas Cerniauskas -->
<% provide(:title, "Regions") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | One Pound Coffee</title>
  </head>
  <body>
    <h1>Regions</h1>
    <p>
      Different regions of coffee from different farmers.
    </p>
  </body>
</html>