<!--Made by Tautvydas Cerniauskas -->
<script src="//maps.google.com/maps/api/js?key=AIzaSyDVZp_Ur2RNJJ4MfzpBMVE7p80uqo18AgU"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->


<header><h1 class="display-4"><%= @place.title %></h1></header>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&markers=#{@place.latitude},#{@place.longitude}&zoom=7&size=640x400&key=AIzaSyDVZp_Ur2RNJJ4MfzpBMVE7p80uqo18AgU",
              class: 'img-fluid img-rounded', alt: "#{@place.title} on the map"%>


<%= link_to 'Go Back', regions_path, class: 'btn btn-primary btn-lg' %>
